<!-- 
    Register and login component

    Author: Miguel Ángel Martínez Puga
    Date: 04/02/2020
    Version: 1.0
 -->


<div class="ftco-footer pt-5 pb-5 ftco-bg-dark ftco-section all-height">
    <div class="row col-12">

        <div class="container col-md-5 col-12">
            <div class="col-lg-12 py-5">
                <img src="../../../assets/img/undraw_podcast_q6p7.svg" style="width: 100%;" alt="">
            </div>
        </div>

        <div class="container col-md-5 col-12">

            <div class="mb-3 pb-3 align-items-center col-12">
                <div class="col-12">
                    <div class="heading-section heading-section-white ">
                        <span class="subheading">Se parte de esta gran comunidad</span>
                        <h2 style="font-size: 30px;" *ngIf="register">Registrate ahora</h2>
                        <h2 style="font-size: 30px;" *ngIf="!register">Accede ahora</h2>
                    </div>
                </div>
            </div>

            <div class="mb-3 align-items-center col-12">
                <div class="block-9">
                    <div class="col-12">

                        <!-- Access form -->
                        <form action="#" *ngIf="!register">

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Correo">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Contraseña">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Entrar" class="btn btn-primary py-3 w-100">
                                <span class="position d-block mt-2 ml-2" style="color: rgba(255,255,255,.5);">¿Aún no te has registrado? <span class="link" (click)="register = true">Regístrate</span>.</span>
                            </div>

                        </form>
                        <!-- Access form -->

                        <!-- Register form -->
                        <form action="#" (ngSubmit)="registerUser(validateRegisterForm)" *ngIf="register" [formGroup]="validateRegisterForm" novalidate #validateRegisterForm>

                            <div class="form-group">
                                <input type="text" formControlName="name" class="form-control" placeholder="Nombre(s)" [(ngModel)]="user.name">
                                <div class="errors" *ngFor="let error of validate">
                                    <div *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
                                        <p *ngIf="myForm.get('name').hasError(error.validator)">{{ error.msg }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="surname" class="form-control" placeholder="Apellido(s)" [(ngModel)]="user.surname">
                                <div class="errors" *ngFor="let error of validate">
                                    <div *ngIf="myForm.get('surname').errors && myForm.get('surname').dirty">
                                        <p *ngIf="myForm.get('surname').hasError(error.validator)">{{ error.msg }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="nick" class="form-control" placeholder="Nombre de usuario" [(ngModel)]="user.nick">
                                <div class="errors" *ngFor="let error of validate">
                                    <div *ngIf="myForm.get('nick').errors && myForm.get('nick').dirty">
                                        <p *ngIf="myForm.get('nick').hasError(error.validator)">{{ error.msg }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="email" class="form-control" placeholder="Correo" [(ngModel)]="user.email">
                                <div class="errors" *ngFor="let error of validate">
                                    <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
                                        <p *ngIf="myForm.get('email').hasError(error.validator)">{{ error.msg }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" formControlName="password" class="form-control" placeholder="Contraseña" [(ngModel)]="user.password">
                                <div class="errors" *ngFor="let error of validate">
                                    <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
                                        <p *ngIf="myForm.get('password').hasError(error.validator)">{{ this._validationsService.lenghtValidations(error, myForm.get('password').errors) }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" [disabled]="myForm.invalid" value="Entrar" class="btn btn-primary py-3 w-100">
                                <span class="position d-block mt-2 ml-2" style="color: rgba(255,255,255,.5);">¿Ya estas registrado? <span class="link" (click)="register = false">Accede</span>.</span>
                            </div>

                        </form>
                        <!-- Register form -->

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 text-center mt-5">

            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; All rights reserved | By <a href="https://muckystackdomine.000webhostapp.com/" target="_blank">muckystack</a>.
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</div>