<!-- 
    Publications component

    Author: Miguel Ángel Martínez Puga
    Date: 07/02/2020
    Version: 1.0
 -->

<div class="container" style="max-width: 500px;">
    <div class="col-lg-12 p-0 mb-4 mt-4 publication_target fadeInUp ftco-animated">
        <img src="https://1.bp.blogspot.com/-PG_ndtP26DY/WMcCFw1uSqI/AAAAAAAADDo/jBY5ed_oz_0QMFfa-V4IhOV-Ule9p2GzgCLcB/s1600/hacking-1734225_960_720.jpg" class="img-fluid" alt="">
        <div class="heading-section mt-5 px-5 py-1">
            <h3 class="mb-4 font-weight-bold">
                Los 5 mejores sitios online para aprender hacking con Kali Linux
            </h3>
            <p>
                A continuación te mostraré los 5 mejores sitios web para aprender hacking utilizando Kali Linux. Dichos sitios están enfocados a principiantes y proporcionan todos los recursos que se necesitan para convertirse en un buen hacker. Es importante mencionar
                <a href="https://www.1000tipsinformaticos.com/2017/03/los-5-mejores-sitios-online-para-aprender-hacking.html?fbclid=IwAR3CvexX-L4aaPheapWCzttbuTVmpro54X1hEBR4a4Hl-8TPh6qyNTUL9eI">Ver link</a>
            </p>
        </div>
    </div>
</div>