/* You can add global styles to this file, and also import other style files */

.all-height {
    height: 100% !important;
    background-color: #421B9B;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
}

.block-9 .form-control {
    border-radius: 25px !important;
}

.hover-white:hover {
    background-color: white !important;
}

.space-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.link {
    color: rgba(255, 255, 255, 0.7) !important;
    cursor: pointer;
}

.link:hover {
    color: white !important;
}