/* You can add global styles to this file, and also import other style files */

.all-height {
    height: 100% !important;
    background-color: #421B9B;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
}

.block-9 .form-control {
    border-radius: 25px !important;
}

.ftco-navbar-light.scrolled.awake {
    /* background-color: #202225 !important; */
    position: relative !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link,
.ftco-navbar-light.scrolled .navbar-toggler,
.ftco-navbar-light.scrolled .navbar-brand {
    color: #AEA8B5 !important;
}


/* --------------------------------MY STYLES---------------------------------- */

.hover-white:hover {
    background-color: white !important;
}

.space-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.link {
    color: rgba(255, 255, 255, 0.7) !important;
    cursor: pointer;
}

.link:hover {
    color: white !important;
}

.oy-scroll {
    overflow-y: auto;
}

.publication_target {
    background-color: #FFFFFF !important;
    box-shadow: 0px 0px 40px 0px rgba(65, 27, 155, 0.15);
    border-radius: .5em !important;
    overflow: hidden;
}

.my-display {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}